version: 2
updates:
  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    labels:
      - "type:infra"
      - "prio:P2"
    commit-message:
      prefix: "ci"
    groups:
      github-actions:
        patterns:
          - "*"
